@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/TTLakes-Regular.woff') format('woff'), 
    url('./assets/fonts/TTLakes-Regular.ttf') format('truetype'),   
    url('./assets/fonts/TTLakes-Regular.eot') format('eot');
}

@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/TTLakes-Medium.woff') format('woff'),
    url('./assets/fonts/TTLakes-Medium.ttf') format('ttf'),
    url('./assets/fonts/TTLakes-Medium.eot') format('eot');
}

@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/TTLakes-Bold.woff') format('woff'),
    url('./assets/fonts/TTLakes-Bold.ttf') format('ttf'),
    url('./assets/fonts/TTLakes-Bold.eot') format('eot');
}