html {
  box-sizing: border-box;
}

*, 
*::after, 
*::before {
  box-sizing: inherit;
}

html,
body {
  font-family: "TT Lakes", sans-serif;
  font-weight: 400;
  margin: 0;
  height: 100%;
  color: #1B1C21;
}

.container {
  max-width: 1063px;
  margin: 0 auto;
  padding: 0 16px;
}

/*------------------------ICON------------------------*/
.icon button {
  background: transparent;
}

.icon__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 0;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon__button--call {
  background-image: url("./icons/call.svg");
}

.icon__button--chat {
  background-image: url("./icons/chat.svg");
}

.icon__button--profile {
  background-image: url("./icons/profile.svg");
}

.icon__button--repair {
  background-image: url("./icons/repair.svg");
}

.icon__button--checkstatus {
  background-image: url("./icons/checkstatus.svg");
}

.icon__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.icon:hover .icon__text {
  text-decoration: underline;
}

/*------------------------HEADER------------------------*/
.header {
  border-bottom: 1px solid #D9FFF5;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 88px;
}

.header__burger {
  margin-right: 16px;
}

.header__icon-bar {
  margin-left: auto;
}

/*------------------------BURGER------------------------*/
.burger {
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 50%;
  border: none;
  position: relative;
}

.burger__line {
  width: 10px;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11px;
  display: block;
  background: #ffffff;
  border-radius: 1px;
}

.burger__line::before,
.burger__line::after {
  content: "";
  height: 2px;
  position: absolute;
  background: #ffffff;
  border-radius: 1px;
  display: block;
}

.burger__line::before {
  top: -7px;
  left: 0;
  width: 18px;
}

.burger__line::after {
  top: 7px;
  left: 0;
  width: 14px;
}

/*------------------------ICON-BAR------------------------*/
.icon-bar {
  display: flex;
  align-items: center;
}

.icon-bar__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-bar__list--helper::before {
  content: '';
  display: block;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 1px;
  margin-left: 16px;
}

.icon-bar__list--hidden {
  display: none;
}

.icon-bar__item {
  margin-left: 16px;
  list-style: none;
}

/*------------------------LOGO------------------------*/
.logo {
  width: 98px;
  height: 52px;
  background: url("./icons/logo.svg") no-repeat;
}

.logo__image {
  width: 100%;
  height: 100%;
}

/*------------------------MAIN------------------------*/
.page {
  background: #F8F8F8;
  padding: 24px 0 35px;
  height: 100%;
}

.page__header {
  display: flex;
  justify-content: space-between;
}

.page__title {
  font-size: 28px;
  line-height: 143%;
  font-weight: 700;
  letter-spacing: -0.6px;
  position: relative;
  margin: 0;
}

.page__title:before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  height: 100%;
  width: 4px;
  background: #41F6D7;
}

.page__icon-bar {
  display: none;
}

.page__slide-menu {
  margin: 24px -16px 24px 0;
  position: relative;
}

.page__slide-menu::after{
  content: "";
  width: 24px;
  height: 40px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  position: absolute;
  top: 0;
  right: 0;
}

.page__about-us {
  display: flex;
  flex-direction: column;
}

/*------------------------ABOUT-US------------------------*/
.about-us__image {
  margin: 0 -16px;
  display: flex;
}

.about-us__image img {
  width: 100%;
  height: auto;
  max-width: 550px;
  margin: 0 auto;
}

.about-us__col:not(:last-child) {
  margin-bottom: 16px;
}

.about-us__description {
  margin-bottom: 16px;
  max-height: 92px;
  overflow: hidden;
}

.about-us__text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin: 0 0 20px;
}

.about-us__text:last-child {
  margin-bottom: 0;
}

/*------------------------SLIDE_MENU------------------------*/
.slide-menu__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

.slide-menu__item {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px; 
  white-space: nowrap;
  color: #7E7E82;
  list-style: none;
}

.slide-menu__link {
  display: block;
  padding: 8px 9px 8px 17px;
  text-decoration: none;
  color: #7E7E82;
}

.slide-menu__item--active {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.slide-menu__item:not(.slide-menu__item--active):hover {
  text-decoration: underline;
}

/*------------------------BUTTON_DETAILS------------------------*/
.button-details {
  padding-left: 1.5em;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #1B1C21;
  position: relative;
  cursor: pointer;
}

.button-details:hover {
  text-decoration: underline;
}

.button-details__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.button-details__input:focus + .button-details__box {
  outline: #000000 auto 5px;
}

.button-details__input:checked + .button-details__box {
  transform: translateY(-50%) rotate(-180deg);
}

.button-details__box {
  position: absolute;
  width: 1em;
  height: 1em;
  background-image: url("./icons/expand.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -1.5em;
  top: 50%;
  transform: translateY(-50%);
}

/*------------------------MEDIA------------------------*/

@media screen and (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
  /*------------------------HEADER------------------------*/
  .header__burger {
    margin-right: 43px;
  }

  .header__burger::after {
    content: '';
    display: block;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
  }

  /*------------------------ICON-BAR------------------------*/
  .icon-bar__list--hidden {
    display: flex;
  }

  /*------------------------PAGE------------------------*/
  .page__title:before {
    left: -24px;
  }

  .page__slide-menu {
    margin: 32px 0;
  }

  .page__about-us {
    display: flex;
    flex-direction: row;
  }

  /*------------------------ABOUT-US------------------------*/
  .about-us__col {
    flex-basis: 50%;
  }

  .about-us__col:not(:last-child) {
    margin-right: 48px;
    margin-bottom: 0;
  }

  .about-us__image {
    margin: 0;
  }

  .about-us__description {
    max-height: 166px;
    margin-bottom: 10px;
  }

  .about-us__image img {
    border-radius: 6px;
  } 
}

@media screen and (min-width: 1120px) {
  .container {
    padding: 0 35px;
  }

  /*------------------------SLIDE_MENU------------------------*/
  .slide-menu__list {
    flex-wrap: wrap;
  }

  /*------------------------PAGE------------------------*/
  .page__title:before {
    left: -35px;
  }

  .page__icon-bar {
    display: flex;
  }

  /*------------------------ABOUT-US------------------------*/
  .about-us__col:not(:last-child) {
    flex-basis: 50%;
    margin-right: 36px;
  }

  .about-us__description {
    margin-bottom: 14px;
  }

  /*------------------------HEADER------------------------*/
  .header {
    display: none;
  }

  /*------------------------ICON-BAR------------------------*/
  .icon-bar__list--hidden {
    display: none;
  }
  
  /*------------------------ICON------------------------*/
  .icon__button {
    width: auto;
    background-size: 40px;
  }
  
  .icon__button--repair,
  .icon__button--checkstatus {
    background-position: right center;
    padding-right: 48px;
  }
}
