html {
  box-sizing: border-box;
}

*, 
*::after, 
*::before {
  box-sizing: inherit;
}

html,
body {
  font-family: "TT Lakes", sans-serif;
  font-weight: 400;
  margin: 0;
  height: 100%;
  color: #1B1C21;
}

.container {
  /*max-width: 1063px;*/
  max-width: 1425px;
  margin: 0 auto;
  padding: 0 16px;
}

/*------------------------ICON-BUTTON------------------------*/
.icon-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  background: transparent;
}

.icon-button__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
  color: #1B1C21;
  padding-right: 8px;
}

.icon-button:hover .icon-button__text {
  text-decoration: underline;
}

.icon-button:hover .icon {
  filter: saturate(2) opacity(0.7);
}

/*------------------------ICON------------------------*/
.icon {
  width: 40px;
  height: 40px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}

.icon--call {
  background-image: url("./icons/call.svg");
}

.icon--chat {
  background-image: url("./icons/chat.svg");
}

.icon--profile {
  background-image: url("./icons/profile.svg");
}

.icon--repair {
  background-image: url("./icons/repair.svg");
}

.icon--checkstatus {
  background-image: url("./icons/checkstatus.svg");
}

.icon--search {
  background-image: url("./icons/search.svg");
}

/*------------------------HEADER------------------------*/
.header {
  border-bottom: 1px solid #D9FFF5;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 88px;
}

.header__burger {
  margin-right: 16px;
}

.header__icon-bar {
  margin-left: auto;
}

/*------------------------BURGER------------------------*/
.burger {
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 0.6s;
}

.burger:hover {
  filter: saturate(2) opacity(0.7);
}

.burger__line {
  width: 10px;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11px;
  display: block;
  background: #ffffff;
  border-radius: 1px;
}

.burger__line::before,
.burger__line::after {
  content: "";
  height: 2px;
  position: absolute;
  background: #ffffff;
  border-radius: 1px;
  display: block;
}

.burger__line::before {
  top: -7px;
  left: 0;
  width: 18px;
}

.burger__line::after {
  top: 7px;
  left: 0;
  width: 14px;
}

.burger--close .burger__line {
  height: 0;
  width: 0;
  transform: translate(-50%, -50%);
  left: 50%;
}

.burger--close .burger__line::before,
.burger--close .burger__line::after {
  width: 22px;
  top: 50%;
  left: 50%;
}

.burger--close .burger__line::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger--close .burger__line::after {
  transform: translate(-50%, -50%) rotate(135deg);
}

/*------------------------ICON-BAR------------------------*/
.icon-bar {
  display: flex;
  align-items: center;
}

.icon-bar__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-bar__list--helper::before {
  content: '';
  display: block;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 1px;
  margin: 0 20px;
}

.icon-bar__list--hidden {
  display: none;
}

.icon-bar__item {
  margin-left: 16px;
  list-style: none;
}

.icon-bar__item:first-child {
  margin-left: 0;
}

/*------------------------LOGO------------------------*/
.logo {
  width: 98px;
  height: 52px;
  background: url("./icons/logo.svg") no-repeat;
}

.logo__image {
  width: 100%;
  height: 100%;
}

/*------------------------MAIN------------------------*/
.page {
  background: #F8F8F8;
  padding: 24px 0 35px;
}

.page__header {
  display: flex;
  justify-content: space-between;
}

.page__title {
  font-size: 28px;
  line-height: 143%;
  font-weight: 700;
  letter-spacing: -0.6px;
  position: relative;
  margin: 0;
}

.page__title:before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  height: 100%;
  width: 4px;
  background: #41F6D7;
}

.page__icon-bar {
  display: none;
}

.page__slide-menu {
  margin: 24px -16px 24px 0;
  position: relative;
}

.page__slide-menu::after{
  content: "";
  width: 24px;
  height: 40px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  position: absolute;
  top: 0;
  right: 0;
}

.page__about-us {
  display: flex;
  flex-direction: column;
}

/*------------------------ABOUT-US------------------------*/
.about-us__image {
  margin: 0 -16px;
  display: flex;
}

.about-us__image img {
  width: 100%;
  height: auto;
  max-width: 550px;
  margin: 0 auto;
}

.about-us__col:not(:last-child) {
  margin-bottom: 16px;
}

.about-us__description {
  margin-bottom: 16px;
  max-height: 92px;
  overflow: hidden;
}

.about-us__description--open {
  max-height: 100%;
  overflow: visible;
}

.about-us__text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin: 0 0 20px;
}

.about-us__text:last-child {
  margin-bottom: 0;
}

/*------------------------SLIDE_MENU------------------------*/
.slide-menu__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

.slide-menu__item {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px; 
  white-space: nowrap;
  color: #7E7E82;
  list-style: none;
}

.slide-menu__link {
  display: block;
  padding: 8px 9px 8px 17px;
  text-decoration: none;
  color: #7E7E82;
}

.slide-menu__item--active {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.slide-menu__item:not(.slide-menu__item--active):hover {
  text-decoration: underline;
}

/*------------------------BUTTON_DETAILS------------------------*/
.button-details {
  padding-left: 1.5em;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #1B1C21;
  position: relative;
  cursor: pointer;
}

.button-details:hover {
  text-decoration: underline;
}

.button-details__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.button-details__input:focus + .button-details__box {
  outline: #000000 auto 5px;
}

.button-details__input:checked + .button-details__box {
  transform: translateY(-50%) rotate(-180deg);
}

.button-details__box {
  position: absolute;
  width: 1em;
  height: 1em;
  background-image: url("./icons/expand.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -1.5em;
  top: 50%;
  transform: translateY(-50%);
}

/*------------------------SIDENAV------------------------*/
.sidenav {
  width: 320px;
  height: 100%;
  padding: 19px 16px 32px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translateX(-400px);
  overflow-x: hidden;
  transition: transform .4s;
}

.sidenav--open {
  transform: translateX(0px);
  -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  -moz-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.sidenav__header {
  display: flex;
  align-items: center;
}

.sidenav__burger {
  margin-right: 17px;
}

.sidenav__logo {
  margin-right: auto;
}

.sidenav__menu {
  margin-top: 23px; 
}

.sidenav__email {
  margin-bottom: 12px;
}

.sidenav__email a {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
  font-weight: 500;
}

.sidenav__email a:hover {
  text-decoration: underline;
}

.sidenav__tel a {
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.6px;
  color: #1B1C21;
  font-weight: 700;
  text-decoration: none;
}

.sidenav__contact {
  margin-top: auto;
  margin-bottom: 8px;
}

.sidenav__icon-bar {
  margin-bottom: 16px;
}

.overlay {
  visibility: visible;
  opacity: 0.96;
  transition: 0.6s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  z-index: 8;
}

.overlay--hidden {
  visibility: hidden;
  opacity: 0;
}

/*------------------------MENU------------------------*/
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  margin-bottom: 24px;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__item--active {
  position: relative;
}

.menu__item--active a {
  color: #7E7E82;
}

.menu__item--active::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -24px;
  display: block;
  width: 4px;
  height: 32px;
  background: #41F6D7;
}

.menu__link {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;  
  color: #1B1C21;
  text-decoration: none;
  font-weight: 500;
}

.menu__link:hover {
  text-decoration: underline;
}

.lang__item {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px; 
  color: #1B1C21;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 7px;
  text-decoration: none;
  font-weight: 500;
}

.lang__item:last-child {
  margin-right: 0;
}

.lang__item--active {
  color: #7E7E82;
}

.lang__item:hover {
  text-decoration: underline;
}

/*------------------------BRANDS------------------------*/
.brands__content {
  margin: 0 -12px;
  height: 160px;
  overflow: hidden;
}

.brands__content--open {
  height: 100%;
  overflow: visible;
}

.brands__swiper {
  padding-bottom: 28px;
}

.brands__item {
  min-width: 224px;
  height: 72px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  box-sizing: border-box;
}

.brands__link:hover .icon-go {
  background: #FF3E79;
}

.brands__link:hover .icon-go::after {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  background: #FF3E79;
}

.brands__swiper .swiper-slide {
  width: auto;
}

.brands__swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
}

.brands__swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #DDDDDD;
  margin-right: 12px;
}

.brands__swiper .swiper-pagination-bullet-active {
  background: #B5B6BC;
}

.brands__swiper .swiper-wrapper {
  margin: 0 12px;
}

.brands__button-details {
  display: none;
  margin-top: 24px;
}

/*------------------------FEATURE------------------------*/
.feature {
  margin: 24px 0;
}

.feature__header {
  padding: 16px;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid#D9FFF5;
  margin: 0 -16px;
}

.feature__title {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  margin: 0;
}

.feature__content {
  margin-top: 16px;
}

.icon-go {
  border: 2px solid #FF3E79;
  border-radius: 50%;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}

.icon-go::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 10px;
  width: 10px;
  border-top: 2px solid #FF3E79;
  border-right: 2px solid #FF3E79;
  background: #ffffff;
  transform-origin: 3px 3px;
  transition: border 0.6s;
}

/*------------------------MEDIA------------------------*/

@media screen and (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
  /*------------------------HEADER------------------------*/
  .header__burger {
    margin-right: 43px;
  }

  .header__burger::after {
    content: '';
    display: block;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
  }

  /*------------------------ICON-BAR------------------------*/
  .icon-bar__list--hidden {
    display: flex;
  }

  /*------------------------PAGE------------------------*/
  .page__title:before {
    left: -24px;
  }

  .page__slide-menu {
    margin: 32px 0;
  }

  .page__about-us {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  /*------------------------ABOUT-US------------------------*/
  .about-us__col {
    flex-basis: 50%;
  }

  .about-us__col:not(:last-child) {
    margin-right: 48px;
    margin-bottom: 0;
  }

  .about-us__image {
    margin: 0;
  }

  .about-us__image img {
    border-radius: 6px;
  }

  /*------------------------FEATURE------------------------*/
  .feature__header {
    margin: 0 -24px;
    padding: 16px 24px;
  }

  .feature__content {
    margin-top: 24px;
  }

  /*------------------------BRANDS------------------------*/
  .brands__swiper .swiper-wrapper {
    flex-wrap: wrap;
    margin: 0;
  }

  .brands__swiper .swiper-wrapper::after {
    content: '';
    width: calc(100% / 3);
  }

  .brands__swiper .swiper-slide {
    flex-basis: calc(33% - 24px);
    max-width: calc(33% - 20px);
    width: auto;
    flex-grow: 1;
    margin: 0 12px 16px;
  }

  .brands__swiper {
    padding-bottom: 0;
  }

  .brands__button-details {
    display: block;
  }

  /*------------------------SIDENAV------------------------*/
  .sidenav {
    padding: 19px 24px 32px;
  }
}

@media screen and (min-width: 1100px) {
  /*------------------------BRANDS------------------------*/
  .brands__swiper .swiper-wrapper::after {
    content: '';
    width: calc(100% / 4 - 24px);
  }

  .brands__swiper .swiper-slide {
    flex-basis: calc(25% - 24px);
    max-width: calc(25% - 35px);
  }
}

@media screen and (min-width: 1426px) {
  .container {
    padding: 0 35px;
  }

  /*------------------------SLIDE_MENU------------------------*/
  .slide-menu__list {
    flex-wrap: wrap;
  }

  /*------------------------PAGE------------------------*/
  .page__title:before {
    left: -35px;
  }

  .page__icon-bar {
    display: flex;
  }

  .page__container {
    margin-left: 320px;
  }

  /*------------------------ABOUT-US------------------------*/
  .about-us__col:not(:last-child) {
    flex-basis: 50%;
    margin-right: 36px;
  }

  .about-us__description {
    margin-bottom: 14px;
  }

  /*------------------------HEADER------------------------*/
  .header {
    display: none;
  }

  /*------------------------ICON-BAR------------------------*/
  .icon-bar__list--hidden {
    display: none;
  }
  
  /*------------------------FEATURE------------------------*/
  .feature__header {
    margin: 0 -32px;
    padding: 16px 32px;
  }

  /*------------------------BRANDS------------------------*/
  .brands__swiper .swiper-wrapper::after {
    content: '';
    width: calc(100% / 4 - 32px);
  }

  .brands__swiper .swiper-slide {
    flex-basis: calc(25% - 32px);
    max-width: calc(25% - 24px);
  }

  /*------------------------SIDENAV------------------------*/
  .sidenav {
    transform: translateX(0px);
  }

  .sidenav__burger {
    display: none;
  }
}